.logo {
  width: 200px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  margin-top: 80px;
  display: flex;
  align-items: center;
}

.subTitle {
  margin-top: 20px;
}