@keyframes slide-fade-in-dropdown-animation {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.pageLayout {


  .header {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #D9D9D9;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .backBtn {
      margin-left: 20px;
    }

    .completeBtn {
      margin-right: 20px;
    }
  }

  .contentLayout {
    @include mobile {
      padding: 20px 30px;
    }

    @include laptop {
      padding: 50px 136px;
    }

    @include desktop {
      padding: 100px 360px;
    }
  }



  .contentEl {
    margin-bottom: 30px;
  }

  .contentTitle {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .dropdown {
    position: absolute;
    background-color: white;
    width: 70px;
    height: 120px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    overflow: scroll;
    padding: 6px;
    font-size: 12px;
    color: black;
    animation: fadein .5s ease;

    .dropdownEl {
      height: 30px;
      border-bottom: 1px solid #d9d9d9;
      display: flex;
      align-items: center;
      justify-content: center;
      animation: slide-fade-in-dropdown-animation .5s ease;
    }
  }

  //-----------------사진 등록-----------------//
  .imageBoxSection {
    display: flex;

    .addImageBox {
      min-width: 70px;
      min-height: 70px;
      border: 1px solid #D9D9D9;
      border-radius: 5px;
      margin-right: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;

      input {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
      }
    }

    .imageBoxWrapper {
      display: flex;
      overflow-x: scroll;

      .imageBox {
        min-width: 70px;
        min-height: 70px;
        border: 1px solid #D9D9D9;
        border-radius: 5px;
        margin-right: 15px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

    }


  }

  //-------------------이름-------------------//
  .nameBox {
    width: 250px;
    height: 30px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
    color: black;

    &::placeholder {
      font-size: 11px;
      color: #9F9F9F;

    }

    &:focus {
      outline: none;
    }
  }

  //-------------------나이-------------------//
  .ageBoxWrapper {
    display: flex;
    align-items: center;

    .ageBox {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 30px;
      border: 1px solid #D9D9D9;
      border-radius: 5px;
      padding: 5px 10px;
      font-size: 12px;
      color: black;

      .text {
        color: #9F9F9F;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: 5px;
      }
    }

  }

  //-------------------성별-------------------//
  .sexBoxWrapper {
    display: flex;
    align-items: center;

    .sexBox {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 30px;
      border: 1px solid #D9D9D9;
      border-radius: 5px;
      padding: 5px 10px;
      font-size: 12px;
      color: black;

      .dropdownIcon {
        margin-left: auto;
      }
    }

    .neuteredCheck {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 5px;

      .customCheckBox {
        appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 2px;
        border: 1px solid #d9d9d9;

        &:checked {
          appearance: auto;
        }

      }

      .text {
        display: inline;
      }
    }

  }

  //-------------------견종-------------------//
  .breedBoxWrapper {
    display: flex;
    align-items: center;


    .breedBox {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 30px;
      border: 1px solid #D9D9D9;
      border-radius: 5px;
      padding: 5px 10px;
      font-size: 12px;
      color: black;

      .dropdownIcon {
        margin-left: auto;
      }
    }

    .breedInput {
      width: 100px;
      height: 30px;
      border: 1px solid #D9D9D9;
      border-radius: 5px;
      padding: 5px 10px;
      font-size: 12px;
      color: black;
      margin-left: 3px;

      &::placeholder {
        font-size: 11px;
        color: #9F9F9F;
      }

      &:focus {
        outline: none;
      }
    }


  }

  //-------------------메모-------------------//    
  .memoBox {
    width: 100%;
    height: 60px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
    color: black;
    resize: none;

    &::placeholder {
      font-size: 11px;
      color: #9F9F9F;
    }

    &:focus {
      outline: none;
    }
  }

  //-------------------질병-------------------//
  .diseaseBox {
    width: 100%;
    height: 60px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
    color: black;
    resize: none;

    &::placeholder {
      font-size: 11px;
      color: #9F9F9F;
    }

    &:focus {
      outline: none;
    }
  }

  //-----------------실종신고-----------------//
  .reportedCheck {
    display: flex;
    align-items: center;
    width: 150px;

    .customCheckBox {
      appearance: none;
      width: 18px;
      height: 18px;
      border-radius: 3px;
      border: 2px solid red;

      &:checked {
        appearance: auto;
        background-color: red;
        accent-color: red;
      }
    }

    .text {
      margin-left: 5px;
      display: inline;
    }
  }

  .reportedSection {
    margin-left: 5px;
    animation: fadein 1s;

    .reportedContentEl {
      display: flex;
      align-items: center;
    }

    .sidoBox {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 80px;
      height: 30px;
      border: 1px solid #D9D9D9;
      border-radius: 5px;
      padding: 5px 10px;
      font-size: 12px;
      color: black;
      margin-left: 6px;

      overflow: hidden;
      white-space: nowrap;

      .dropdownIcon {
        margin-left: auto;

      }
    }
  }


}