@keyframes slide-fade-in-dropdown-animation {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.pageLayout {
  .header {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .backBtn {
      margin-left: 20px;
    }

    .completeBtn {
      margin-right: 20px;
    }
  }

  .contentLayout {
    @include mobile {
      padding: 20px 30px;
    }

    @include laptop {
      padding: 50px 136px;
    }

    @include desktop {
      padding: 100px 360px;
    }
  }

  .contentEl {
    margin-bottom: 30px;
  }

  .contentTitle {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .dropdown {
    position: absolute;
    background-color: white;
    width: 70px;
    height: 120px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    overflow: scroll;
    padding: 6px;
    color: black;
    animation: fadein 0.5s ease;

    .dropdownEl {
      height: 30px;
      border-bottom: 1px solid #d9d9d9;
      display: flex;
      align-items: center;
      justify-content: center;
      animation: slide-fade-in-dropdown-animation 0.5s ease;
    }
  }

  //-----------------사진 등록-----------------//
  .imageBoxSection {
    display: flex;

    .addImageBox {
      min-width: 80px;
      height: 80px;
      border: 1px solid #d9d9d9;
      border-radius: 5px;
      margin-right: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-top: 6px;

      input {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
      }
    }

    .imageBoxWrapper {
      display: flex;
      overflow-x: scroll;
      width: 100%;

      .imageBox {
        position: relative;
        width: 86px;
        height: 86px;

        .image {
          position: relative;
          z-index: 0;
          top: 6px;
          left: 0;
          width: 80px;
          height: 80px;
          border: 1px solid #d9d9d9;
          border-radius: 5px;
          margin-right: 15px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }

        .removeBtn {
          color: white;
          font-size: 12px;
          text-align: center;
          background-color: #eecd6d;
          width: 16px;
          height: 16px;
          border-radius: 8px;
          position: absolute;
          top: 0;
          right: 0;
          z-index: 1;
          cursor: pointer;
        }
      }
    }
  }

  //-------------------이름-------------------//
  .nameBox {
    width: 250px;
    height: 30px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    padding: 5px 10px;

    &:focus {
      outline: none;
    }
  }

  //-------------------나이-------------------//
  .ageBoxWrapper {
    display: flex;
    align-items: center;

    .ageBox {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 30px;
      border: 1px solid #d9d9d9;
      border-radius: 5px;
      padding: 5px 10px;

      .text {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: 5px;
      }
    }
  }

  //-------------------성별-------------------//
  .sexBoxWrapper {
    display: flex;
    align-items: center;

    .sexBox {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 30px;
      border: 1px solid #d9d9d9;
      border-radius: 5px;
      padding: 5px 10px;

      .dropdownIcon {
        margin-left: auto;
      }
    }

    .neuteredCheck {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 5px;

      .customCheckBox {
        appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 2px;
        border: 1px solid #d9d9d9;

        &:checked {
          appearance: auto;
        }
      }

      .text {
        display: inline;
      }
    }
  }

  //-------------------견종-------------------//
  .breedBoxWrapper {
    display: flex;
    align-items: center;

    .breedBox {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 30px;
      border: 1px solid #d9d9d9;
      border-radius: 5px;
      padding: 5px 10px;
      color: black;

      .dropdownIcon {
        margin-left: auto;
      }
    }

    .breedInput {
      width: 100px;
      height: 30px;
      border: 1px solid #d9d9d9;
      border-radius: 5px;
      padding: 5px 10px;
      margin-left: 3px;

      &:focus {
        outline: none;
      }
    }
  }

  //-------------------메모-------------------//
  .memoBox {
    width: 100%;
    height: 60px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    padding: 5px 10px;
    resize: none;

    &:focus {
      outline: none;
    }
  }

  //-------------------질병-------------------//
  .diseaseBox {
    width: 100%;
    height: 60px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    padding: 5px 10px;
    resize: none;

    &:focus {
      outline: none;
    }
  }

  //-----------------실종신고-----------------//
  .reportedCheck {
    display: flex;
    align-items: center;
    width: 150px;

    .customCheckBox {
      appearance: none;
      width: 18px;
      height: 18px;
      border-radius: 3px;
      border: 2px solid red;

      &:checked {
        appearance: auto;
        background-color: red;
        accent-color: red;
      }
    }

    .text {
      margin-left: 5px;
      display: inline;
    }
  }

  .reportedSection {
    margin-left: 5px;
    animation: fadein 1s;

    .reportedContentEl {
      display: flex;
      align-items: center;
      margin-top: 8px;

      .reportedContentTitle {
        width: 60px;
        height: 30px;
        display: flex;
        align-items: center;
        margin-right: 5px;
      }
    }

    .addrDetailBox {
      width: 280px;
      height: 30px;
      border: 1px solid #d9d9d9;
      border-radius: 5px;
      padding: 5px 10px;

      &:focus {
        outline: none;
      }
    }

    .antPickerStyle {
      width: 130px;
      height: 30px;
      border: 1px solid #d9d9d9;
      border-radius: 5px;
      display: flex;
      align-items: center;
      z-index: 1;
    }

    .etcBox {
      width: 280px;
      height: 60px;
      border: 1px solid #d9d9d9;
      border-radius: 5px;
      padding: 5px 10px;
      resize: none;

      &:focus {
        outline: none;
      }
    }
  }
}