.sectionLayout{
  width: 100%;

  .camBox{
    width: 100%;
    height: 210px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #E7E7E7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .album{
      width: 90px;
      height: 90px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .camBoxCaption{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    .caption{
      display: flex;
      flex-direction: column;
      margin-right: 3px;
      margin-left: auto;
    }

  }
}